
/*
Add the following to any .md file to add this style:
<link rel="stylesheet" href="./src/main.css" />
*/

h2 {
  margin-top: 64px !important;
}

body {
  padding-bottom: 128px !important;
}

.small-table {
  display: inline-block;
  margin-right: 20px;
}

.small-table > label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}